# Pratice questions
---

## String

### Q1. Create a string variable with the value "DataScience" and print its length. (E)

### Q2. Extract the first 4 characters from the string "MachineLearning". (E)

### Q3. Convert the string "data science" to uppercase and split it at the space. (M)

### Q4. Check if the string "regression" exists within the string "Linear regression is a fundamental algorithm." (M)

### Q5. Write a program that counts the frequency of each character in the string "DataVisualization". (H)

## List

### Q1. Create a list of the first five prime numbers and print it.

### Q2.Append the number 11 to the list created in Q1.

### Q3.A retailer company X has stored the sales data of q year in the form of the list of a particlualr item.. Given a list of numbers, write a program to find the average.

```python
data = [45,35,87,55,65,82,93,47,88,64,44,67]
```
1. find the sum of the first quarter?
2. what is maxium sale in the third quater.
3. What is maxium average value among the 4 quarter.

### Q4. Remove the last element from the list created in Q3.

### Q5. Implement a function that takes a list of numbers and returns a list of numbers without duplicates, but maintains the original order.

### Q6. Given a list of strings representing data science topics, sort them based on their length.

## Tuple

### Q1. Create a tuple containing three data science libraries names and print it
(For example : Numpy, Pandas, Matplotlib)

### Q2. Given a tuple of data science libraries, convert it to a list and add "Seaborn" to it.
libraries = ('Numpy','Pandas','Matplotlib')

### Q3.Write a program that swaps the first and last elements of a tuple.

## Set

### Q1. Create a set of three data science tools used.

### Q2. Given two sets of tools learned by the batches 

batch1_tools = {'Python', 'Excel', 'MySQL', 'Tableau'}  

batch2_tools = {'Python', 'Excel', 'SQLite', 'PowerBI'}

#### Find the tools learned in both the batches

#### Find the tools learned by the Batch 1 but not by Batch 2

#### Find the tools learned by the Batch 2 but not by Batch 1

#### Find the tools not common in both the batches. (Tools learned only by Batch 1 and only by Batch 2)

## Dictionary

### Q1. Create a dictionary where keys are data science tools and values are their descriptions. Add an entry for "Pandas" with a brief description

### Q2. Write a program that merges two dictionaries of data science libraries and their usages without overwriting the original values

## Operators:

### Q1. Take an input of a number from the user and print the square root of it.

### Q2. Take a number input by the user and print the digit at ones palce

### Q3. Take a 3-digit number input by the user and print the digit at hundreds place

### Q4.Given two numbers a = 10 and b = 20, print their sum, difference, product, and quotient. Check if a is greater than b.

### Q5. Convert a float number 123.456 to an integer.

### Q6.Given a number n, use logical operators to check if n is both greater than 10 and less than 50.

### Q7 Write a program that checks if a given year is a leap year or not.

### Q8. Take a 3-digit number input by the user and check whether it Armstrong or not