# Pratice questions
---

## String

### Q1. Create a string variable with the value "DataScience" and print its length. (E)

In [1]:
str1 = "Data Science"

print(len(str1))

12

### Q2. Extract the first 4 characters from the string "Machine Learning". (E)

In [4]:
str2 = "Machine Learning"
print(str2[:4])

Mach

### Q3. Convert the string "data science" to uppercase and split it at the space. (M)

In [5]:
str3 = "data science"
str3.upper()

'DATA SCIENCE'

In [6]:
str3.split(' ')

['data', 'science']

### Q4. Check if the string "regression" exists within the string "Linear regression is a fundamental algorithm." (M)

In [8]:
str1 = "Linear regression is a fundamental algorithm."
str2 = "regression"

In [9]:
str2 in str1

True

### Q5. Write a program to swap the first and last character of a string.
#### For example : Hardik Pandya  -  aardik PandyH

In [12]:
str1 = "Hardik Pandya"

In [13]:
str2 = str1[-1] + str1[1:-1] + str1[0]
print(str2)

aardik PandyH

## List

### Q1. Given a list representing the monthly sales quantities of a company's products.
Sales = [40, 34, 48, 74, 84, 89, 52, 47, 75, 56, 42]

In [72]:
Sales = [40, 34, 48, 74, 84, 89, 52, 47, 75, 56, 42]

#### Append the sale of December as 31 in the list.

In [73]:
Sales.append(31)

In [74]:
Sales

[40, 34, 48, 74, 84, 89, 52, 47, 75, 56, 42, 31]

#### Find the total products sold in the year.

In [75]:
#total products sold in year 
sum(Sales)

672

#### Find the average number of products sold.

In [76]:
avg_sales = sum(Sales) / len(Sales)
print(avg_sales)

56.0

#### Find the minimum number of product sold in the 1st quarter.(Jan - Mar)

In [77]:
Sales_1st_qtr = Sales[0:3]

Sales_1st_qtr

[40, 34, 48]

In [78]:
min(Sales_1st_qtr)

34

#### Find the maximum number of product sold in the 4th quarter.(Oct - Dec)

In [79]:
Sales_4th_qtr = Sales[-3:]

Sales_4th_qtr

[56, 42, 31]

In [80]:
max(Sales_4th_qtr)

56

#### Find the second highest number of product sold in the year.

In [81]:
sorted_sales = sorted(Sales)
sorted_sales

[31, 34, 40, 42, 47, 48, 52, 56, 74, 75, 84, 89]

In [82]:
sorted_sales[-2]

84

#### Delete the sale of December from the list.

In [83]:
Sales.pop()

31

In [84]:
Sales

[40, 34, 48, 74, 84, 89, 52, 47, 75, 56, 42]

#### Delete the sale of March as 48 from the list.

In [85]:
Sales.remove(48)

In [86]:
Sales

[40, 34, 74, 84, 89, 52, 47, 75, 56, 42]

#### Insert the sale of March as 84 in the list

In [87]:
Sales.insert(2,84)

In [88]:
Sales

[40, 34, 84, 74, 84, 89, 52, 47, 75, 56, 42]

#### Delete the sale of 1st quarter from the list

In [89]:
del Sales[0:3]

In [90]:
Sales

[74, 84, 89, 52, 47, 75, 56, 42]

## Tuple

### The grades obtained by Batch 1 students in a test of Python is given.

```python
grades = ('A', 'B', 'A', 'C', 'D', 'B', 'A', 'C')
```

#### How many students have got the grade as 'A'

In [95]:
grades.count('A')

3

#### Give the index of the students who have scored Grade 'D'

In [97]:
grades.index('D')

4

#### The grade for the 1st Student is mistakenly written for last student. Swap the grades for them to get the correct grades.

In [98]:
grades = list(grades)

In [99]:
grades

['A', 'B', 'A', 'C', 'D', 'B', 'A', 'C']

In [100]:
#Swapping 
grades[0], grades[-1] = grades[-1], grades[0]

In [101]:
grades

['C', 'B', 'A', 'C', 'D', 'B', 'A', 'A']

## Set

### Q1. Create a set of three data science tools you have used.

In [104]:
tools = {"Python", "Excel", "SQL"}
tools

{'Excel', 'Python', 'SQL'}

In [105]:
# without using {}
tools = set()
tools.add("Python")
tools.add("Excel")
tools.add("SQL")

In [106]:
tools

{'Excel', 'Python', 'SQL'}

### Q2. Given two sets of tools learned by the batches

In [107]:
batch1_tools = {'Python', 'Excel', 'MySQL', 'Tableau'}  

batch2_tools = {'Python', 'Excel', 'SQLite', 'PowerBI'}

#### Find the tools learned in both the batches

In [112]:
batch1_tools & batch2_tools

{'Excel', 'Python'}

#### Find the tools learned by the Batch 1 but not by Batch 2

In [113]:
batch1_tools - batch2_tools

{'MySQL', 'Tableau'}

#### Find the tools learned by the Batch 2 but not by Batch 1

In [114]:
batch2_tools - batch1_tools

{'PowerBI', 'SQLite'}

#### Find the tools not common in both the batches. (Tools learned only by Batch 1 and only by Batch 2)

In [115]:
batch1_tools ^ batch2_tools

{'MySQL', 'PowerBI', 'SQLite', 'Tableau'}

## Dictionary

### Q1. Create a dictionary where keys are data science libraries and values are their descriptions. Add an entry for "Pandas" with a brief description

In [117]:
# Creating a dictionary of data science libraries with brief descriptions
data_science_libraries_dict = {
    "NumPy": "Scientific computing in Python",
    "Matplotlib": "Data visualization in Python",
    "Scikit-Learn": "Machine learning in Python"
}

# Adding an entry for "Pandas" with a short description
data_science_libraries_dict["Pandas"] = "Data manipulation in Python"

In [118]:
data_science_libraries_dict

{'NumPy': 'Scientific computing in Python',
 'Matplotlib': 'Data visualization in Python',
 'Scikit-Learn': 'Machine learning in Python',
 'Pandas': 'Data manipulation in Python'}

### Q2. Below is the run scored by the different batsman

dict_run = { 'ISHAN': 40, 'RAHUL':35 ,' YUVRAJ': 85, 'VIRAT': 49, 'DHONI': 50 , 'ROHIT': 50}

In [155]:
dict_run = { 'Ishan': 40, 'Rahul':35 ,'Yuvraj': 85, 'Virat': 49, 'Dhoni': 50 , 'Rohit': 50}

#### Find the runs scored by different batsman

In [156]:
runs = dict_run.values()
set(runs)

{35, 40, 49, 50, 85}

#### Find the name different batsman.

In [157]:
batsman = dict_run.keys()
set(batsman)

{'Dhoni', 'Ishan', 'Rahul', 'Rohit', 'Virat', 'Yuvraj'}

#### Find the minimum run scored by a batsman.

In [158]:
min(dict_run.values())

35

In [159]:
min(runs)

35

#### Find the maximum run scored by a batsman.

In [160]:
max(dict_run.values())

85

In [161]:
max(runs)

85

#### It was mistakenly noted that 40 runs were scored by Ishan. Actually, Ishan scored 14 runs. Update the correct record in the dictionary.

In [162]:
dict_run['Ishan'] = 14

In [163]:
dict_run

{'Ishan': 14, 'Rahul': 35, 'Yuvraj': 85, 'Virat': 49, 'Dhoni': 50, 'Rohit': 50}

## Operators:

### Q1. Take an input of a number from the user and print the square root of it.

In [170]:
number = int(input())
print(number ** 0.5)

36
6.0

### Q2. Take a number input by the user and print the digit at ones palce

In [171]:
number = int(input())
number % 10

261

1

### Q3. Take a 3-digit number input by the user and print the digit at hundreds place

In [173]:
number = int(input())
number // 100

261

2

### Q4.Given two numbers a = 10 and b = 20, print their sum, difference, product, and quotient. Check if a is greater than b.

In [175]:
a = 10
b = 20
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a > b)

30
-10
200
0.5
False

### Q5. Convert a float number 123.456 to an integer.

In [176]:
a = 123.456
int(a)

123

### Q6.Given a number n, use logical operators to check if n is both greater than 10 and less than 50.

In [178]:
n = int(input())

n > 10 and n < 50

45

True

### Q7 Write a program that checks if a given year is a leap year or not.

In [184]:
year = int(input("Enter a year "))

(year % 4 == 0) and ((year % 100 != 0) or (year % 400 == 0))

Enter a year 2004

True

### Q8. For a given quadratic equation $x^2 + 7 x - 18$. Find the values of x .
Hint : x = $\frac{-b + \sqrt{b^2 -4 ac}}{2a}$  

x = $\frac{-b - \sqrt{b^2 -4 ac}}{2a}$

In [189]:
a = 1
b = 7
c = -18

In [190]:
(-b + (b**2 - 4*a*c)**0.5 )/ 2*a

2.0

In [191]:
(-b - (b**2 - 4*a*c)**0.5 )/ 2*a

-9.0

### Additional Questions:

#### Check if the strings are anagrams
#### An anagram is a word or phrase formed by rearranging the letters of another.
For example 'Silent' and 'Listen' are Anagrams

In [197]:
str2 = "Suhel"
str2.lower()

'suhel'

In [198]:
str1 = 'Learner'
str2 = 'Student'

# write your codes
str1 = str1.lower()
str2 = str2.lower()

sorted(str1) == sorted(str2)

False

In [199]:
str1 = 'Teaching'
str2 = 'Cheating'

# write your codes
str1 = str1.lower()
str2 = str2.lower()

sorted(str1) == sorted(str2)

True

In [ ]:
. For example, if you continuously repeat 'erbottlewat,' you will eventually obtain the string 'waterbottle,' indicating that 'waterbottle' is a rotation of 'erbottlewat

### Determine whether one string is a rotation of another.
For instance, "waterbottle" is a rotation of "erbottlewat."

if you keep repeating "erbottlewat." then you would listen "waterbottle"

In [200]:
str1 = "finance"
str2 = "nanceif"
# write your codes

str3 = str2 + str2

str1 in str3

False

In [202]:
str1 = "carpentar"
str2 = "pentarcar"
#write your codes

str3 = str2 + str2

str1 in str3

True

#### Extract the Date, Month and Year from the given date.

In [205]:
# Date is in string format
Date = "17-04-2023"

#Write your codes
#Extract the day ,month and year

date_component = Date.split('-')

year = date_component[2]
print(year)

month = date_component[1]
print(month)

day = date_component[0]
print(day)

2023
04
17

 ### For a given 3-digit number. Check whether it is Armstrong or not
 #### An Armstrong number is an n-digit number that is equal to the sum of its own digits each raised to the power of n.
 #### For example $153 = 1^3 + 5^3 +3^3 $

In [209]:
number = 407
n = number
#Write your codes
s = 0
r = n % 10
s = s + r**3

n = n // 10
r = n % 10
s = s + r**3

n = n // 10
r = n % 10
s = s + r**3

s == number

True